@import url(./global.css);

header {
    padding: 20px 100px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .header-home {
            display: flex;
            align-items: center;
            font-family: "Anton SC", sans-serif;
            font-size: 25px;

            &:link,
            &:visited,
            &:hover,
            &:active {
                color: black;
            }

            img {
                width: 40px;
                margin-right: 10px;
            }
        }

        .main-nav {
            display: flex;

            .horizontal-list {
                li {
                    margin-left: 40px;

                    font-size: 18px;
                    font-family: "Outfit", sans-serif;
                    font-weight: 600;
                }
            }
        }

        .icon-nav {
            display: flex;

            .horizontal-list {
                li {
                    margin-left: 10px;

                    img {
                        width: 17px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

main {
    .home-section-1 {
        #home-main-top {
            background-image: url("../assets/Vector1.png");
            background-repeat: no-repeat;
            background-size: cover;

            .wrapper {
                .background-img {
                    display: flex;
                    justify-content: end;
                    position: relative;

                    img {
                        width: 500px;
                    }

                    #main-introduction {
                        position: absolute;
                        left: 0px;

                        h1 {
                            color: white;
                            margin-top: 170px;
                            margin-bottom: 80px;
                            font-size: 120px;
                        }

                        .main-story {
                            display: flex;
                            width: 600px;
                            font-size: 27pt;
                            color: var(--default-grey);
                            font-family: "DM Serif Display", serif;
                            font-weight: 600;
                            text-shadow: 1px 2px #fffdfd;
                        }
                    }
                }
            }
        }
    }

    .home-section-2 {
        #home-main-middle {
            background-color: var(--light-purple);

            .wrapper {
                display: flex;
                justify-content: space-between;

                #shopping-introduction {
                    display: flex;
                    align-items: center;

                    .main-story {
                        margin-left: 70px;
                        text-align: center;
                    }
                }

                img {
                    width: 500px;
                    border-radius: 50%;
                    margin: 180px 0;
                }
            }
        }
    }

    .home-section-3 {
        #home-main-last {
            .wrapper {
                display: flex;
                justify-content: space-between;

                #sharing-introduction {
                    display: flex;
                    align-items: center;

                    .story-wrapper {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        .main-story {
                            text-align: center;
                            width: 700px;
                        }

                        .shop-button {
                            display: flex;
                            align-items: center;

                            margin-top: 20px;

                            padding: 10px 40px;
                            border-radius: 50%;
                            background: var(--light-purple);

                            button {
                                font-weight: bold;
                                font-size: 15pt;
                                color: var(--default-grey);
                            }
                        }
                    }
                }

                img {
                    width: 400px;
                }
            }
        }
    }

    .heading {
        background-image: url(../assets/background-blurr.png);

        .wrapper {
            .heading-top {
                padding: 40px 0;
                font-family: "DM Serif Display", serif;
                font-size: 40pt;
                color: var(--default-grey);
            }

            p {
                font-size: 13pt;
                padding-bottom: 30px;
                color: rgb(64, 64, 109);
                line-height: 1.5;
                text-align: justify;
            }
        }
    }

    /* brand part starts */
    .brands-section-link {
        .wrapper {
            .brands-lists {
                display: flex;
                justify-content: space-between;
                padding: 40px 0;

                li {
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    font-weight: bold;
                    transition: font-size 1s;
                }

                li:hover {
                    font-size: 50px;
                }
            }
        }
    }

    .brands-section-detail {
        .wrapper {
            .alphabet-part {
                display: flex;
                align-content: center;

                .capital-letter {
                    display: flex;
                    background: rgb(170, 192, 210);
                    color: white;
                    font-size: 140px;
                    justify-content: center;
                    align-items: center;
                    min-width: 200px;
                    margin: 20px;
                }

                .each-brand {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 960px;
                    align-items: center;

                    a {
                        padding-left: 25px;
                        font-size: 20px;
                    }
                }
            }
        }


    }

    /* shop part starts*/
    .shop-section-search {
        .wrapper {
            display: flex;
            justify-content: end;

            .search-container {
                display: flex;

                #search {
                    padding: 4px;
                }

                #categories {
                    display: flex;
                    border: none;
                    background: rgb(220, 220, 245);
                }
            }

            .button-style {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(156, 156, 243);
                width: 30px;
                margin: 0 30px 0px 5px;
                border-radius: 10px;

                img {
                    width: 15px;
                    filter: invert(1);
                }
            }
        }
    }

    .shop-section-product {
        display: flex;

        .wrapper {
            .shop-content {
                h2 {
                    font-size: 40px;
                }
            }
        }
    }
    /* shop part ends */

    /* sale part starts */

    .sale-container {
        .wrapper {
            display: flex;
            .sale-aside {
                display: flex;
                height: fit-content;
                padding-top: 20px;
                .filters {
                    display: flex;
                    flex-direction: column;
                    background-image: url(../assets/blur3.png);
                    width: 200px;
                    padding: 40px 0 40px 40px;
    
                    h3 {
                        font-size: 30px;
                        padding-bottom: 20px;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                        height: fit-content;
                        .dropbtn {
                            font-size: 17px;
                            padding-top: 10px;
                            border: none;
                            cursor: pointer;
                            img {
                                width: 20px;
                                vertical-align: middle;
                                /* 텍스트와 이미지의 중앙 정렬 flex는 안되고 inline만 가능 */
                            }
                        }
                        .dropdown-content {
                            display: none;
                            position: relative;
                            background-color: transparent;
                            min-width: 160px;
                            padding: 12px 16px;
                            z-index: 1;
                            .each-input {
                                padding-bottom: 10px;
                            }
                        }
                    }
                    
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        
            .sale-section-1 {
                display: flex;
                flex-direction: column;
                padding-left: 80px;
                h2 {
                    font-size: 60px;
                    padding: 40px 0;
                }
    
                .item-grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 50px;
    
                    width: 100%;
                    padding-bottom: 40px;
    
                    .product-container {
                        text-align: center;
                        position: relative;
    
                        .product-pic {
                            width: 200px;
                            z-index: 1;
                        }
    
                        .tag-container {
                            position: absolute;
                            z-index: 2;
                            left: 0;
                            top: 0;
    
                            .sale-mark {
                                width: 70px;
                            }
                        }
    
                        .product-content {
                            background-color: var(--light-purple);
                        }
                    }
                }
            }
        }
    }
    

    /* sale part ends */

    /* about part starts */
    .introduce-us {
        .wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 40px;

            .upper-container {
                display: flex;

                .story-content-upper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding-right: 40px;

                    img {
                        width: 30px;
                        margin-bottom: 20px;
                    }
                    p {
                        max-width: 600px;
                        font-size: 20px;
                        color: rgb(71, 70, 70);
                        font-family: "LXGW WenKai Mono TC", monospace;
                    }
                }

                .img-content-upper {
                    display: flex;

                    img {
                        max-width: 450px;
                        border-radius: 25px;
                    }
                }
            }

            .under-container {
                display: flex;
                margin-top: 50px;
                margin-bottom: 50px;

                .img-content-under {
                    display: flex;

                    img {
                        max-width: 450px;
                        border-radius: 25px;
                    }
                }

                .story-content-under {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    padding-left: 40px;

                    img {
                        width: 30px;
                        margin-bottom: 20px;
                    }
                    p {
                        max-width: 600px;
                        font-size: 20px;
                        color: rgb(71, 70, 70);
                        font-family: "LXGW WenKai Mono TC", monospace;
                    }
                }

            }
        }
    }
    /* about part ends */

} /*main*/

footer {
    background-image: url(../assets/background-blurr.png);
    padding: 60px 0 20px;

    color: var(--default-grey);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-contents {
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
            gap: 50px;

            width: 100%;
            margin-bottom: 60px;

            .logo {
                width: 200px;
            }

            .content {
                h3 {
                    margin-bottom: 20px;

                    font-size: 20px;
                    font-weight: bold;
                }

                li {
                    color: var(--default-grey);
                }

                .contact-info {
                    li {
                        display: flex;
                        align-items: center;

                        img {
                            width: 18px;
                            margin-right: 10px;
                        }

                        &+& {
                            margin-top: 20px;
                        }
                    }
                }

                .explorer-info {
                    li+li {
                        margin-top: 16px;
                    }
                }

                .socials {
                    display: flex;
                    align-items: center;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            width: 20px;
                            margin-right: 20px;
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}