@import url(./global.css);

header {
    padding: 20px 100px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .header-home {
            display: flex;
            align-items: center;
            font-family: "Anton SC", sans-serif;
            font-size: 25px;

            &:link,
            &:visited,
            &:hover,
            &:active {
                color: black;
            }

            img {
                max-width: 40px;
                margin-right: 10px;
            }
        }

        .main-nav {
            display: flex;

            .link-list {
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    margin-left: 40px;

                    font-size: 18px;
                    font-family: "Outfit", sans-serif;
                    font-weight: 600;

                    a:link,
                    a:visited {
                        color: black;
                    }
                    a:hover {
                        color: rgb(15, 6, 130);
                    }
                    a:active {
                        color: rgb(131, 109, 245);
                    }
                }
            }
        }

        .icon-nav {
            display: flex;
            .horizontal-list {
                li {
                    margin-left: 10px;

                    img {
                        width: 17px;
                        margin-right: 10px;
                    }
                }
                li.menu {
                    position: relative;
                    display: none;
                    flex-direction: column;
        
                    label {
                        cursor: pointer;
                        z-index: 2;
                        position: relative;
                    }
        
                    .menu-toggle {
                        display: none;
                        &:checked + .toggle-nav {
                            display: flex;
                        }
                    }
        
                    .toggle-nav {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        top: 120%;
                        right: 0;
                        background-color: #fff;
                        opacity: 0.7;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        z-index: 20;
                        .link-list {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            li {
                                margin-left: 0;
                                a {
                                    text-decoration: none;
                                    color: #090909;
                                    font-size: 16px;
                                    padding: 10px;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    .hero-section {
        .home-main-top {
            background-image: url("../assets/Vector1.png");
            background-repeat: no-repeat;
            background-size: cover;

            .wrapper {
                .background-img {
                    display: flex;
                    justify-content: end;
                    position: relative;

                    .vectors {
                        .vector11 {
                            width: 70px;
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 500px;
                        }

                        .vector5 {
                            width: 80px;
                            position: absolute;
                            z-index: 1;
                            left: 550px;
                            top: 200px;
                        }

                        .vector4 {
                            width: 50px;
                            position: absolute;
                            z-index: 1;
                            left: 490px;
                            top: 120px;
                            transform: rotate(-10deg);
                        }
                    }

                    .girl-with-dog {
                        width: 500px;
                    }

                    .main-introduction {
                        position: absolute;
                        left: 0px;

                        h1 {
                            color: rgb(16, 15, 15);
                            margin-top: 170px;
                            margin-bottom: 80px;
                            font-size: 120px;
                            text-shadow: 1px 2px #a8a6a6;    
                            padding-left: 20px;
                        }

                        .main-story {
                            display: flex;
                            width: 600px;
                            font-size: 27pt;
                            color: white;
                            font-family: "DM Serif Display", serif;
                            font-weight: 600;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .home-section-2 {
        .home-main-middle {
            background-color: var(--light-purple);

            .wrapper {
                display: flex;
                justify-content: space-between;

                .vectors {
                    .vector8 {
                        width: 280px;
                        position: absolute;
                        z-index: 1;
                        left: 590px;
                        top: 1000px;
                        transform: rotate(125deg);
                    }

                    .vector9 {
                        width: 90px;
                        position: absolute;
                        z-index: 1;
                        left: 73px;
                        top: 1300px;
                    }
                }

                .shopping-introduction {
                    display: flex;
                    align-items: center;

                    .main-story {
                        margin-left: 70px;
                        text-align: center;
                        z-index: 2;
                    }
                }

                .round-dog {
                    width: 500px;
                    border-radius: 50%;
                    margin: 180px 0;
                }
            }
        }
    }

    .home-section-3 {
        .home-main-last {
            .wrapper {
                display: flex;
                justify-content: space-between;

                .vectors {
                    .vector10 {
                        width: 100px;
                        position: absolute;
                        z-index: 1;
                        left: 180px;
                        top: 2000px;
                        transform: rotate(315deg);
                    }

                    .vector11 {
                        width: 50px;
                        position: absolute;
                        z-index: 1;
                        left: 790px;
                        top: 2300px;
                    }
                }

                .sharing-introduction {
                    display: flex;
                    align-items: center;

                    .story-wrapper {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        .main-story {
                            text-align: center;
                            padding-right: 80px;
                            z-index: 2;
                        }

                        .shop-button {
                            display: flex;
                            align-items: center;

                            margin-top: 20px;

                            padding: 10px 40px;
                            border-radius: 50%;
                            background: var(--light-purple);

                            a {
                                &:link,
                                &:visited {
                                    color: #0f0682;
                                }
                                &:hover {
                                    color: #7911d4;
                                }
                                &:active {
                                    color: #836df5;
                                }
                            }
                        }
                    }
                }

                img {
                    width: 400px;
                }
            }
        }
    }

    .heading {
        background-image: url(../assets/background-blurr.png);

        .wrapper {
            padding: 20px 50px;
            .heading-top {
                padding: 40px 0;
                font-family: "DM Serif Display", serif;
                font-size: 40pt;
                color: var(--default-grey);
            }

            p {
                font-size: 13pt;
                padding-bottom: 30px;
                color: rgb(64, 64, 109);
                line-height: 1.5;
                text-align: justify;
            }
        }
    }

    /* brand part starts */
    .brands-section-link {
        .wrapper {
            .brands-lists {
                display: flex;
                justify-content: space-between;
                padding: 40px 0;

                li {
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    font-weight: bold;
                    
                    a {
                        transition: font-size 1s;
                        &:link,
                        &:visited {
                            color: rgb(77, 8, 225);
                        }
                        &:hover {
                            color: rgb(15, 6, 130);
                            font-size: 50px;
                        }
                        &:active {
                            color: rgb(131, 109, 245);
                        }
                    }
                    
                }

                a:hover {
                    font-size: 50px;
                }
            }
        }
    }

    .brands-section-detail {
        .wrapper {
            .alphabet-part {
                display: flex;
                align-content: center;

                .capital-letter {
                    display: flex;
                    background: rgb(170, 192, 210);
                    color: white;
                    font-size: 140px;
                    justify-content: center;
                    align-items: center;
                    min-width: 200px;
                    margin: 20px;
                }

                .each-brand {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 960px;
                    align-items: center;

                    a {
                        padding-left: 25px;
                        font-size: 20px;
                    }
                }
            }
        }


    }

    /* shop part starts*/
    .shop-section-search {
        .wrapper {
            display: flex;
            justify-content: end;

            .search-container {
                display: flex;

                #search {
                    padding: 4px;
                }

                #categories {
                    display: flex;
                    border: none;
                    background: rgb(220, 220, 245);
                }
            }

            .button-style {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(156, 156, 243);
                width: 30px;
                margin: 0 30px 0px 5px;
                border-radius: 10px;

                img {
                    width: 15px;
                    filter: invert(1);
                }
            }
        }
    }

    .zealandia,
    .shop-section-new,
    .shop-section-favorites,
    .shop-section-outdoor {
        padding-bottom: 20px;
    }

    .zealandia {
        .wrapper {
            img {
                width: 100%
            }
        }
    }

    .shop-section-new {
        .new-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 50px;
        padding-bottom: 40px;
        .product-pic {
            width: 100%;
        }
    
        .product-content {
            text-align: center;
        }
        }
    }
    .shop-section-favorites {
        .favorite-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            gap: 50px;
            padding-bottom: 40px;
        }
    
        .product-container {
            text-align: center;
            position: relative;
        }
    
        .product-pic {
            width: 100%;
            max-width: none; 
            height: auto;
            display: block;
        }
    
        .product-content {
            text-align: center;
        }
    }

    .shop-section-outdoor {
        .outdoor-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 10px;
        }

        .outdoor-left,
        .outdoor-right {
            display: flex;
            flex-direction: column;

            .product-pic {
                max-width: 100%;
            }
        }
    }

    /* shop part ends */

    /* sale part starts */

    .sale-container {
        .wrapper {
            display: flex;
            .sale-aside {
                display: flex;
                height: fit-content;
                padding-top: 20px;
                .filters {
                    display: flex;
                    flex-direction: column;
                    background-image: url(../assets/blur3.png);
                    width: 200px;
                    padding: 40px 0 40px 40px;
                    h3 {
                        font-size: 30px;
                        padding-bottom: 20px;
                    }
                    .dropdown {
                        position: relative;
                        display: inline-block;
                        height: fit-content;

                        .dropbtn {
                            font-size: 17px;
                            padding-top: 10px;
                            border: none;
                            cursor: pointer;

                            img {
                                width: 20px;
                                vertical-align: middle;
                                /* 텍스트와 이미지의 중앙 정렬 flex는 안되고 inline만 가능 */
                            }
                        }

                        .dropdown-content {
                            display: none;
                            position: relative;
                            background-color: transparent;
                            min-width: 160px;
                            padding: 12px 16px;
                            z-index: 1;

                            .each-input {
                                padding-bottom: 10px;
                            }
                        }
                    }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                }
            }

            .sale-section-1 {
                width: 100%;
                padding-left: 80px;

                h2 {
                    font-size: 60px;
                    padding: 40px 0;
                }

                .item-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                    gap: 30px;
                    width: 100%;
                    padding-bottom: 40px;

                    .product-container {
                        text-align: center;
                        position: relative;

                        .product-pic {
                            width: 100%;
                            max-width: 200px;
                            z-index: 1;
                        }

                        .tag-container {
                            position: absolute;
                            z-index: 2;
                            left: 0;
                            top: 0;

                            .sale-mark {
                                width: 70px;
                            }
                        }

                        .product-content {
                            background-color: var(--light-purple);
                            padding: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 150px; 
                            h3 {
                                padding: 10px 0;
                                flex: 1; /* 남은 공간을 차지하여 가격 정보가 아래로 밀리도록 함 */
                                margin: 0; 
                                overflow: hidden; 
                                text-overflow: ellipsis; /* 넘치는 텍스트를 '...'로 표시 */
                                font-size: 16px;
                            }
                            p {
                                padding-bottom: 10px;
                                margin: 0; 
                                font-weight: bold;
                                font-size: 20px;
                            }
                            .original-price {
                                text-decoration: line-through;
                                color: grey; 
                                font-weight: normal;
                                font-size: 16px;
                            }
                            
                            .now {
                                font-weight: bold;
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }


    /* sale part ends */

    /* about part starts */
    .introduce-us {
        .wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 40px;

            .upper-box {
                display: flex;
                justify-content: space-between;

                .gallery {
                    position: relative;
                    margin: 5px;
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }

                    .desc {
                        position: absolute;
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.5);
                        color: #fff;
                        width: 100%;
                        text-align: center;
                        padding: 10px 0;
                        box-sizing: border-box;
                    }
                }

                .gallery:hover {
                    opacity: 0.5;
                }
            }

            .under-box {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 80px 0;

                .story-content {
                    p {
                        padding: 0 140px;
                        font-size: 20px;
                        color: rgb(71, 70, 70);
                    }

                    p::before {
                        content: open-quote;
                    }

                    p::after {
                        content: close-quote;
                    }
                }
            }
        }
    }

    /* about part ends */

    /* contact part starts */
    .container {
        .accordion-container {
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    .contact-form-before {
        background: #ccb9f3;
        margin-top: 30px;
        .wrapper {
            text-align: center;
            color: white;
            h2 {
                font-size: 50px;
            }
            p {
                padding: 20px;
            }
        }
    }
    .contact-section {
        padding: 40px 0;
        .wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background: 
                url('../assets/listen-dog.png') no-repeat right 20px top 40px,
                linear-gradient(to right, #f2e6ff, #f6f6fd);
            border-radius: 8px;
            background-size: contain; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            .select-container {
                width: 100%;
                margin-bottom: 20px;
                select {
                    width: 100%;
                    padding: 15px;
                    color: white;
                    font-size: 19px;
                    letter-spacing: 60%;
                    border: none;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background: #4c19b0;
                }
            }
            .content-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 50%;
                .input-info {
                    flex: 1;
                    margin-right: 20px;
                    label {
                        margin: 20px 0 10px;
                        font-size: 18px;
                        color: #333;
                    }
                }
                .img-container {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .background-main {
                        width: 80%;
                    }
                    .background-vector1 {
                        width: 130px;
                        position: absolute;
                        top: 800px;
                        left: 880px;
                    }
                    .background-vector2 {
                        width: 100px;
                        position: absolute;
                        top: 500px;
                        right: 300px;
                    }
                }
            }
        }
    }
    
    .input-info input[type="text"],
    .input-info input[type="email"],
    .input-info textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: #fff;
    }
    
    .input-info textarea {
        height: 120px;
        resize: none;
    }
    
    .submit-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #b19cd9; 
        color: #fff;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
        cursor: pointer; 

        &:hover {
            background-color: #9370db; 
        }
    }
    /* contact part ends */

    /*top button style*/
    .top-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 5px 10px;
        background-color: #9370db; 
        opacity: 0.5;
        color: white;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        font-size: 13px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        z-index: 1000; 
    }
    
    .top-button:hover {
        background-color: #7a5eb7; 
        opacity: 1; 
    }
}
/*main*/

footer {
    background-image: url(../assets/background-blurr.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 20px;
    color: var(--default-grey);
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-contents {
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
            gap: 50px;

            width: 100%;
            margin-bottom: 60px;

            img.logo {
                width: 200px;
                transition: transform 2s ease-in-out;
            }
            
            .logo:hover {
                transform: scale(1.2) rotate(360deg);
            }

            .content {
                h3 {
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-weight: bold;
                }
                li {
                    color: var(--default-grey);
                }
                .contact-info {
                    li {
                        display: flex;
                        align-items: center;

                        img {
                            width: 18px;
                            margin-right: 10px;
                        }

                        &+& {
                            margin-top: 20px;
                        }
                    }
                }

                .explorer-info {
                    li+li {
                        margin-top: 16px;
                    }
                    a:link,
                    a:visited {
                        color: black;
                    }
                    a:hover {
                        color: rgb(15, 6, 130);
                    }
                    a:active {
                        color: rgb(131, 109, 245);
                    }
                }

                .socials {
                    display: flex;
                    align-items: center;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            width: 20px;
                            margin-right: 20px;
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}

/* 404 error */
.error-container {
    text-align: center;
    .wrapper {
        position: relative;
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin-bottom: -200px;
            z-index: 2;
            position: relative;
            padding-top: 230px;

            .dot {
                width: 80px;
                height: 80px;
                background-color: #ff6347;
                border-radius: 50%;
                margin: 0 20px;
                animation: dotAnimation 2s forwards;

                &:nth-child(1) {
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    animation-delay: 0.5s;
                }

                &:nth-child(3) {
                    animation-delay: 1s;
                }
            }
        }

        h1 {
            font-size: 190px;
            margin: 0;
            color: #ff6347;
            animation: textAnimation 2s forwards 2s;
            opacity: 0;
            z-index: 1;
            position: relative;
        }

        h2 {
            font-size: 80px;
        }

        h3 {
            padding: 20px;
            font-size: 40px;
        }

        p {
            font-size: 24px;
            color: #333;
        }
    }

    .home-link {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 10px 20px;
        font-size: 18px;
        color: white;
        background-color: #ff6347;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .home-link:hover {
        background-color: #e5533d;
    }
}

@keyframes dotAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0) scale(0);
        opacity: 0;
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
