@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&family=LXGW+WenKai+Mono+TC&family=Outfit:wght@100..900&family=Pacifico&family=Titan+One&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

button {
    font-family: "Anton SC", sans-serif;
    background: inherit;
    border: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.horizontal-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 70pt;
    font-family: "Pacifico", cursive; /*꼬부랑글씨*/
    font-weight: 600;
    letter-spacing: 5PX;
    line-height: 1.4;
}

.main-story {
    font-size: 27pt;
    color: rgb(47, 47, 47);  
    font-family: "DM Serif Display", serif;
    font-weight: 600;                
}

:root {
    --light-purple: rgb(244, 239, 250);
    --default-grey: rgb(47, 47, 47);
    --default-heading-color: color: rgb(32, 29, 29);
}

