@media screen and (max-width: 480px) {
    header {
        padding: 20px 10px;
    }
    header .wrapper .header-home {
        font-size: 1.2rem;
    }
    header .wrapper img {
        width: 30px;
        margin-right: 10px;
    }

    main .home-section-1 .home-main-top {
        background-image: none;
    }
    main .home-section-1 .home-main-top .wrapper .background-img .vectors .vector5 {
        width: 40px;
        left: 273px;
    }
    main .home-section-1 .home-main-top .wrapper .background-img .vectors .vector4 {
        width: 30px;
        left: 260px;
    }
    main .home-section-1 .home-main-top .wrapper .background-img .main-introduction h1 {
        font-size: 4rem;
        color: white;
        padding-left: 0;
    }
    main .home-section-1 .home-main-top .wrapper .background-img .main-introduction .main-story {
        margin-top: 230px;
        font-weight: 400;
        line-height: 1.2;
    }

    main .home-section-2 .home-main-middle .wrapper .vectors .vector8 {
        width: 120px;
        left: 190px;
        top: 1300px;
    }

    main .heading .wrapper {
        padding: 30px 20px;
    }
    main .heading .wrapper .heading-top {
        padding: 0;
        font-size: 20pt;
    }
    main .heading .wrapper p {
        display: none;
    }

    main .top-button {
        bottom: 40px;
    }

    main .shop-section-search {
        padding: 0;
    }

    main .shop-section-search .wrapper{
        align-items: center;
        justify-content: center;
    }

    main .shop-section-search .wrapper .button-style{
        margin-right: 0;
    }

    main .zealandia .wrapper h2,
    main .shop-section-new .wrapper h2,
    main .shop-section-favorites .wrapper h2,
    main .shop-section-outdoor .wrapper h2 {
        font-size: 20px;
    }
    
    main .shop-section-new .new-grid, 
    main .shop-section-favorites .favorite-grid {
        grid-template-columns: minmax(150px, 1fr);
        gap: 10px;
    }

    main .shop-section-outdoor {
        .outdoor-container {
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        }
    }
    
    main .shop-section-outdoor .wrapper .outdoor-container p{
        font-size: 14px;
    }
    main .product-container .product-content h3 {
        font-size: 15px;
    }

    main .sale-container .wrapper .sale-aside .filters{
        width: 200px !important;
        padding: 40px;
    }
    main .sale-container .wrapper .sale-aside .filters .title h3 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    main .sale-container .wrapper .sale-aside .filters .dropdown-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown{
        position: relative;
        display: inline-block;
        height: fit-content;
    }

    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown .dropbtn {
        justify-content: left !important;
    }

    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown .dropbtn img{
        display: inline-block !important;
        width: 20px;
        vertical-align: middle;
    }
    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown .dropdown-content {
        display: none !important;
        
    }
    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown .dropdown-content .each-input {
        padding-bottom: 10px;
    }

    main .sale-container .wrapper .sale-aside .filters .dropdown-container .dropdown:hover .dropdown-content {
        display: block !important;
    }
    
    main .introduce-us .wrapper .upper-box .gallery {
        width: calc(50% - 10px); 
    }

    footer {
        padding: 20px 20px;
    }

    .error-container .wrapper .dots {
        margin-bottom: -5vh;
    }
    .error-container .wrapper .dots .dot {
        width: 8vw;
        height: 8vw;
    }
    .error-container .wrapper h1 {
        font-size: 22vw;
    }
    .error-container .wrapper h2 {
        font-size: 8vw;
    }
    .error-container .wrapper h3 {
        padding: 1vh;
        font-size: 6vw;
    }
    .error-container .wrapper p {
        font-size: 4vw;
        color: #333;
    }


}
