@media screen and (max-width : 480px){
    header {
        padding: 20px 20px;
    }

    

    footer {
        padding: 20px 20px;
    }
    /* 404 error */
    .error-container {
        .wrapper {
            .dots {
                margin-bottom: -5vh; 
                .dot {
                    width: 8vw; 
                    height: 8vw; 
                }
            }
            h1 {
                font-size: 22vw;
            }
            h2 {
                font-size: 8vw; 
            }
        
            h3 {
                padding: 1vh; 
                font-size: 6vw;
            }
            p {
                font-size: 4vw; 
                color: #333;
            }
        }
    }
}