@media (min-width: 601px) and (max-width: 1000px) {
    header {
        padding: 20px 50px;
        .wrapper {
            .main-nav {
                .link-list {
                    display: none;
                    flex-direction: column;
                }
            }
            .icon-nav {
                .horizontal-list {
                    li.menu {
                        display: flex;
                        img:hover {
                            cursor: pointer;
                        }
                        .menu-toggle {
                            &:checked {
                                ~ nav {
                                    display: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {

    }
    /* 404 error */
    
}