@media screen and (max-width : 1024px) {
    header {
        padding: 20px 50px;
        .wrapper {
            .main-nav {
                .link-list {
                    display: none;
                    flex-direction: column;
                }
            }
            .icon-nav {
                .horizontal-list {
                    li.menu {
                        display: flex;
                        img:hover {
                            cursor: pointer;
                        }
                        .menu-toggle {
                            &:checked {
                                ~ nav {
                                    display: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 20px 50px;
        .wrapper {
            .footer-contents {
                display: flex;
                flex-direction: column;
                .logo {
                    width: 80px;
                }
            }
            .content {
                h3 {
                    font-size: 15px;
                }
                .contact-info {
                    li {
                        &+& {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    /* 404 error */
    .container {
        .wrapper {
            h1 {
                font-size: 130px;
            }
            h2 {
                font-size: 40px;
            }
        
            h3 {
                padding: 10px;
                font-size: 30px;
            }
            p {
                font-size: 22px;
                color: #333;
            }
        }
    }
}